<!--Template Name: launching-soon
File Name: index.html
Author Name: ThemeVault
Author URI: http://www.themevault.net/
License URI: http://www.themevault.net/license/-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diwali Wishes</title>
        <!-- Custom styles for this template -->
        <link rel="icon" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    </head>
    <body class="content">
        <div class="Comingsoonpage">
            <div class="main">
                <div class="logo">
                    <!-- <img src="/images/logo.png" alt="logo"> -->
                </div>
                <div class="mid-content">
                    <h2 class="title"><%=title%><br> Send Diwali Wishes to your Loved ones!</h2>
                </div>

                <form class="form-inline" action="/home" method="GET">
                  
                    <div class="form-group mx-sm-3 mb-2">
                      <label for="inputPassword2" class="sr-only">Enter Your Name</label>
                      <input type="text" name="name" class="form-control" id="inputPassword2" placeholder="Enter Your Name">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
           
        </div>



       
    </body>
</html>